<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString"
            connectionString="Data Source=DESKTOP-KABPAMR;Initial Catalog=RistrettoTeste;User ID=sa;Password=58yuri58;Enlist=true;Connect Timeout=15;MultipleActiveResultSets=true;" />
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>